h1	{
	color: red;
	text-decoration: underline;
}
body	{
	background-color: blue;
	font-family: sans-serif;
}
li	{
	color: white;
	font-size: 100px;
}
.lione	{
	color: orange;
}
.bfont	{
	font-size: 150px
}