.wrapper	{
	width: 80%;
	background-color: #00FFF0;
	padding-bottom: 10px;
	padding-top: 5px;
	margin: 0 auto;
}
.h1one	{
	text-align: center;
	color: #8B05E7;
	font-size: 40px;
}
a 	{
	border: 2px black solid;
	padding: 5px;
	margin:5px;
	background-color: #09DF6A;
	display: block;
	font-size: 26px;
}
nav	{
	text-align: center;
}
footer	{
	text-align: center;
}
body	{
	background-color: #F1FF46
}
p 	{
	color: #FF0D53;
}
a:link	{
	color: #F10C0C;
}
a:hover	{
	color: #EE840D;
}
a:visited	{
	color: black;
}
a:active	{
	color: #F1EA00;
}