p	{
	color: red;
	text-align: center;
}
.wrapper	{
	width: 80%;
	background-color: grey;
	margin: 0 auto;
	padding-bottom: 20px;
	padding-top: 10px;
}
a 	{
	border: 2px black solid;
	padding: 5px;
	margin: 5px;
	background-color: pink;
}
nav	{
	text-align: center;
}
h1	{
	font-size: 40px;
}