body 	{
	background-color: teal;
}
h1	{
	color:red;
}
img	{
	width:300px;
	border:5px;
	border-style: solid;
	border-color: red;
}
p	{
	color: white;

}
.h1header	{
	color: white;
	font-size: 75px;
	text-align: center;
	text-decoration: underline;
}
nav	{
	text-align: center;
}
.a1 	{
	border: 2px black solid;
	padding: 5px;
	margin:5px;
	background-color: #09DF6A;
	display: inline;
	font-size: 26px;
}